* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    margin: 0px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    /* font-size: 15px; */
}


/* bloco 1 */

.text-bloco-1 {
    height: 100%;
    width: 50%;
}

.img-background {
    height: 100%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/home/pexels-anni-roenkae-2832382.png");
    background-position: right;
}

.nav-contato {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

@media only screen and (min-width: 992px) {
    .contato-none {
        display: none;
    }
}

.bloco_home {
    height: 100vh;
    /* max-height: 950px; */
    margin-right: auto;
    margin-bottom: 100px;
    flex-direction: row;
    flex-grow: 3;
    /* max-width: 1140px !important; */
}

.coluna-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-end */
    max-width: 550px !important;
    /* max-width: 650px !important; */
}

.header {
    /* display: flex; */
    padding: 50px 0px 15px 0px;
    /* text-align: left; */
    flex-direction: row;
    /* flex-wrap: nowrap !important; */
}

.nav-link {
    font-weight: 600;
    color: black;
}

.nav-link:hover {
    color: rgba(86, 83, 253, 1);
}

.active {
    color: rgba(86, 83, 253, 1);
}

.header .esquerda {
    margin-right: 15px;
}

.botao-header {
    margin-right: 50px;
    margin-top: 50px;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.botao-header a {
    color: #fff;
    text-decoration: none;
}

.botao-header a:hover {
    color: #fff;
    text-decoration: none;
}

.text-home {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    padding-bottom: 3.5rem;
    line-height: 3rem;
}

.subtitulo-home {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.bloco-botao-home {
    padding-top: 50px;
    display: flex;
    padding-bottom: 6rem;
}


/* .botao-home {
    box-shadow: 0px 0px 25px -3px #B5B5B5;
    margin: 10px;
    background-color: #5653fd;
    border-radius: 10px;
    border: 15px solid #5653fd;
    border-right: 25px;
}

.botao {
    align-items: center;
}

.botao-home a {
    display: flex;
    color: #fff;
    text-decoration: none !important;
}

.botao-home a div {
    color: #fff;
    text-decoration: none !important;
    padding-left: 30px;
    padding-right: 15px;
    font-weight: bold;
}

.botao-home a:hover {
    color: #fff;
} */

.botao-home {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 0px 25px -3px #B5B5B5;
    margin: 10px;
    background-color: #5653fd;
    border-radius: 10px;
}

.botao-home a {
    color: #fff;
    text-decoration: none !important;
}

.botao-home .bi-arrow-right {
    margin-left: 50px;
    color: #fff;
    width: 20px;
    height: 20px;
}

.botao-home:hover {
    background-color: #F9B047;
    color: white;
}

.botao-home a:hover {
    color: #fff;
    text-decoration: none !important;
}

@media only screen and (max-width: 992px) {
    .nav-contato {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .img-background {
        background-image: none;
    }

    .nav-contato {
        display: none;
    }

    .bloco_home {
        margin-bottom: 0px;
    }

    .coluna-home {
        min-width: 360px;
    }

    .coluna-home .nav {
        /* flex-wrap: nowrap */
    }

    .img-home-col {
        display: none !important;
    }

    .text-home {
        /* text-align: center !important; */
        line-height: 40px !important;
        font-size: 2rem !important;
    }

    .text-home {
        font-size: 1.5rem;
    }
}


/* !bloco 1*/

.titulo-entreblocos {
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
    color: #5653fd;
    font-weight: 600;
}


/* bloco 2 */

.bloco-2-card {
    /* width: 100vh; */
    padding-bottom: 100px;
    justify-content: space-around
}

.items {
    height: 150px;
    display: flex;
    /* overflow-x: auto; */
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    margin-bottom: 50px;
}

.item {
    flex: none;
    width: 25%;
    height: 100%;
    scroll-snap-align: start;
    pointer-events: none;
    padding: 20px 10px;
}

.item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.sessao-botoes-carrossel {
    display: flex;
}

.botoes-carrossel a {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding-top: 15px;
    text-decoration: none !important;
}

.botoes-carrossel a span {
    padding-left: 30px;
    padding-right: 30px;
}

.botoes-carrossel a svg:hover {
    transition-duration: 0.4s;
    color: #5653fd;
}

.bolinha {
    font-weight: bold;
    color: rgba(86, 83, 253, 1);
}

@media only screen and (max-width: 540px) {
    .bloco-2-card {
        padding-bottom: 100px;
    }

    .item {
        /* flex: none; */
        width: 50%;
        height: 100%;
        /* scroll-snap-align: start; */
        /* pointer-events: none; */
        /* padding: 20px 10px; */
    }
}


/*! bloco 2 */

/* ariba */
.ariba-box{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  
}
.ariba-box img{
    width: 200px;
}
/* !ariba */

/* bloco 3 */

.bloco3-grupo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 200px;
}

.icon-bloco3 {
    color: #ffffff;
    margin-bottom: 30px;
    background-color: rgba(86, 83, 253, 1);
    border-radius: 50px;
    border: 25px solid rgba(86, 83, 253, 1);
}

.titulo-bloco3 {
    margin-bottom: 30px;
}

.titulo-bloco3,
.titulo-bloco3 span {
    font-weight: bold;
    font-size: 2rem;
}

.text-bloco3 {
    font-size: 20px;
}

@media only screen and (max-width: 540px) {
    .bloco-3 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .bloco3-grupo {
        align-items: center;
        padding-bottom: 50px !important;
        min-width: 100%;
    }

    .text-bloco3 {
        text-align: center;
        /* font-size: 1rem !important; */
    }
}


/* !bloco 3 */


/* bloco 4 */

.bloco-4 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    padding-bottom: 200px;
    /* background-color: #f4f4f4; */
}

.bloco4-coluna1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-bloco4 {
    /* font-weight: bold; */
    font-size: 45px;
    padding-bottom: 30px;
}

.paragrafo-bloco4 {
    line-height: 24px;
    text-align: left;
    padding-bottom: 50px;
    font-size: 15px;
}

.caixa-botao {
    box-shadow: 0px 0px 25px -3px #B5B5B5;
    /* margin: 10px; */
    background-color: #5653fd;
    border-radius: 5px;
    border: 20px solid #5653fd;
    padding-left: 40px;
    padding-right: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.caixa-botao a {
    transition-duration: 0.4s;
    font-size: 15px;
    display: flex;
    color: #fff;
    text-decoration: none !important;
}

.caixa-botao:hover {
    color: #fff;
    background-color: #F9B047;
    border-color: #F9B047;
}

.img-bloco4 {
    display: flex;
    padding-top: 70px;
    /* height: 250%; */
}

.img-teclado {
    position: relative;
    left: 60px;
    overflow: visible;
}

.img-relogio {
    position: relative;
    top: 100px;
    overflow: visible;
}

@media only screen and (max-width: 540px) {
    .bloco-4 {
        padding-bottom: 100px;
    }

    .img-bloco4 {
        display: none;
    }

    /* .bloco4-coluna1 {
        align-items: center;
    } */
    .titulo-bloco4 {
        /* text-align: center; */
        font-size: 2rem !important;
    }
}


/* !bloco 4 */


/* bloco 5 */

.bloco-5 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 150px;
}

.bloco5-coluna2 {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo-bloco4 {
    /* font-weight: bold; */
    font-size: 45px;
    padding-bottom: 30px;
}

.paragrafo-bloco5 {
    line-height: 24px;
    text-align: right;
    padding-bottom: 50px;
    font-size: 15px;
}

.caixa-botao {
    box-shadow: 0px 0px 25px -3px #B5B5B5;
    /* margin: 10px; */
    background-color: #5653fd;
    border-radius: 5px;
    border: 20px solid #5653fd;
    padding-left: 40px;
    padding-right: 40px;
    transition-duration: 0.4s;
}

.caixa-botao a {
    transition-duration: 0.4s;
    font-size: 15px;
    display: flex;
    color: #fff;
    text-decoration: none !important;
}

.caixa-botao a:hover {
    color: #fff;
    background-color: #F9B047;
    border-color: #F9B047;
}

.sessao-img-bloco5 {
    display: flex;
    max-width: 600px;
}

.sessao-img-bloco5 svg {
    width: 456px;
    height: 420px;
    fill: #FFFFFF;
    border: 5px solid #5653fd
}

.img-pessoa-computador {
    position: relative;
    left: -300px;
    overflow: visible;
}

@media only screen and (max-width: 540px) {
    .sessao-img-bloco5 {
        display: none;
    }

    .bloco-5 {
        padding-bottom: 50px;
        justify-content: flex-end;
    }
}


/* !bloco 5 */


/* carrossel */

.bloco-na-midia {
    margin-bottom: 100px;
}

.carousel-item img {
    height: 80vh !important;
}

/* bloco 6 */

.bloco-6 {
    padding-top: 50px;
    margin-bottom: 100px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-bloco-6 {
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    padding-bottom: 50px;
}

.sessao-iframe {
    display: flex;
    flex-grow: 1;
}

.bloco-6 iframe {
    border-radius: 20px;
    width: 1000px;
}

@media only screen and (max-width: 540px) {
    .bloco-6 {
        padding-top: 50px;
        margin-bottom: 100px;
        height: 100%;
    }

    .bloco-6 iframe {
        border-radius: 20px;
        height: 220px;
        width: 340px;
    }

    .sessao-iframe {
        display: flex;
        flex-grow: 0;
    }
}


/* !bloco 6 */


/* bloco 7 */

.bloco-7 {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;
}

.titulo-bloco-7 {
    text-align: center;
    /* font-weight: 800; */
    font-size: 40px;
    padding-bottom: 25px;
}

.div-depoimento {
    display: flex;
    justify-content: space-between;
}


/* imagens esquerda e direita */

.div-depoimento .div-esquerda,
.div-depoimento .div-direita {
    min-width: 180px;
}

.person-start,
.person-end {
    display: flex;
    padding-bottom: 90px;
}

.person-start {
    justify-content: flex-start;
}

.person-end {
    justify-content: flex-end;
}

.size2 img {
    width: 130px;
    height: 130px;
}

.size img {
    width: 95px;
    height: 95px;
}

.sizemin img {
    width: 70px;
    height: 70px;
}


/*! imagens esquerda e direita */

.aspas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.aspas svg {
    height: 40px;
    width: 40px;
    fill: #5653fd;
}

.div-meio {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animacao-depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#depoimentofoto,
#depoimentotexto,
#depoimentonome,
#depoimentocargo {
    /* animation-duration: 3s;
    animation-name: slidein; */
}

@keyframes deslizar {
    0% {
        opacity: 20%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.person-principal img {
    height: 190px;
    width: 190px;
    border-radius: 120px;
}

.person-text {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.person-name {
    padding-bottom: 20px;
    font-size: 18px;
    color: #5653fd;
    /* font-weight: bold; */
}

.person-cargo {
    font-size: 14px;
    padding-bottom: 10px;
}

.botoes-depoimento {
    display: flex;
}


/* .botao-depoimento {
    margin: 50px;
} */

.botao-depoimento:hover {
    transition-duration: 0.4s;
    color: #000;
    /* color: #F9B047; */
}

.botao-depoimento a {
    cursor: pointer;
}

.botao-depoimento svg {
    /* background-color: #fff; */
    padding: 10px;
    border: solid 2px #fff;
    border-radius: 20px;
    color: #5653fd;
    width: 45px;
    height: 45px;
    margin: 50px;
    box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.61);
    /* -webkit-box-shadow: 10px 10px 70px 22px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 70px 22px rgba(0, 0, 0, 0.61); */
}

@media only screen and (max-width: 540px) {
    .bloco-7 {
        padding-bottom: 50px;
    }

    .div-esquerda,
    .div-direita {
        display: none;
    }

    .aspas {
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        padding-left: 0px;
        padding-right: 0px;
    }

    .aspas svg {
        height: 30px;
        width: 30px;
        fill: #5653fd;
    }

    .person-principal img {
        height: 120px;
        width: 120px;
    }

    .person-text {
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .person-name {
        padding-bottom: 20px;
        font-size: 18px;
        color: #5653fd;
        /* font-weight: bold; */
    }

    .person-cargo {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .botoes-depoimento {
        display: flex;
    }
}


/* !bloco 7 */


/* bloco 8 */

.bloco-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.titulo-bloco-8 {
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
    padding-bottom: 40px;
}

.sessao-formas {
    width: 113%;
    height: 550px;
    background-image: url("../img/home/jr-korpa-9XngoIpxcEo-unsplash.png");
    display: flex;
    justify-content: space-between
}

.forma1,
.forma2,
.forma3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.forma1 a,
.forma2 a,
.forma3 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none !important;
}

.forma1 a:hover,
.forma2 a:hover,
.forma3 a:hover {
    transition-duration: 0.4s;
    background-color: #5653fd59;
}

.formanumero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: #5653fd;
    font-size: 24px;
    font-weight: bold;
    border-radius: 80px;
    margin-bottom: 50px;
}

.formatitulo {
    font-size: 20px;
    padding-bottom: 30px;
    color: #fff;
}

.formatexto {
    line-height: 22px;
    color: #fff;
}

@media only screen and (max-width: 540px) {
    .sessao-formas {
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;
    }

    .forma1 a,
    .forma2 a,
    .forma3 a {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/* ! bloco 8 */


/* bloco 9 */

.bloco-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.titulo-bloco-9 {
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
    padding-bottom: 40px;
}

.sessao-blog {
    display: flex;
}

.post {
    margin-left: 40px;
}

.card img {
    max-height: 180px;
}

.card .card-title {
    font-weight: 600;
}

.card p {
    color: #4b4a4a;
    line-height: 23px;
}

.card a {
    text-decoration: none !important;
    display: flex;
    color: #5653fd;
}

@media only screen and (max-width: 540px) {
    .sessao-blog {
        flex-direction: column;
    }

    .post {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


/* !bloco 9 */


/* bloco 10 */

.bloco-10 {
    background-color: rgba(86, 83, 253, 1);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* .bloco-10 .espaco {
    min-height: 140px;
    min-width: 260px;
} */

.bloco-10 .esqueda-footer {
    margin-left: 15px;
}

.titulo-bloco10 {
    font-size: 18px;
    color: #fff;
}

.redes-sociais {
    display: flex;
}

.redes-sociais .icone a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #5653fd;
    /* font-size: 15px; */
    border-radius: 80px;
    margin-right: 15px;
}

.redes-sociais .icone svg {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 540px) {
    .bloco-10 {
        flex-direction: column;
        padding-bottom: 25px;
    }

    .bloco-10 .espaco {
        min-height: 0px;
        min-width: 0px;
    }
}
